<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShaaleVikas">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="Create Account" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:label="@string/admin_dashboard"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PledgeActivity"
            android:exported="false"
            android:label="Make a Pledge"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AddNeedActivity"
            android:exported="false"
            android:label="Add School Need" />

        <activity
            android:name=".DonorsActivity"
            android:exported="false"
            android:label="Donor Hall of Fame" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="My Profile" />

        <activity
            android:name=".NeedDetailActivity"
            android:exported="false"
            android:label="Need Details" />

        <activity
            android:name=".SuccessStoriesActivity"
            android:exported="false"
            android:label="Success Stories" />

    </application>

</manifest>